<div class="row">
    <div class="col-9">
        <h2 class="text-primary">NationalPark</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; NationalPark</a>
    </div>
</div>

<div class="p-3">
    <table id="tblData" class="table table-active table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
{
<script src="~/js/NationalParks.js"></script>
}
